In [2]:
# common imports
import pandas as pd
import matplotlib as plt

BANK_DATA_PATH = r"data/Bank Customer Churn Prediction.csv"

# Getting the Data

In [3]:
def load_data(path=BANK_DATA_PATH):
    return pd.read_csv(path)

In [4]:
bank = load_data()
bank.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# Analysis of the Data

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [8]:
# all customer id's are unique- so this column can be dropped
bank['customer_id'].nunique()

10000

In [10]:
bank['country'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: country, dtype: int64

In [11]:
bank['gender'].value_counts()

Male      5457
Female    4543
Name: gender, dtype: int64